NODE_ENV=
PORT=
CONTEXT_PATH=

SWAGGER_ENDPOINT=

TYPEORM_LOGGING=
TYPEORM_SYNCHRONIZE=
TYPEORM_LOGGING_SHOW_PARAMETERS=
LOGGING_CONSOLE_LEVEL=
LOGGING_FILE_LEVEL=
LOG_FILE_PATH=

# Database
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DATABASE=
REDIS_TLS=

FE_REDIRECT_URL=
INDEXER_CONNECTION_TTL=
CREDENTIAL_SECRET_KEY=

# RPC
RPC_URL=
MAGIC_BLOCK_ER_RPC_URL=